/node_modules
/public/hot
/public/storage
/public/documents
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
storage/debugbar/
form.yml
.phpstorm.meta.php
_ide_helper.php
*.zip
storage/app/data/*.csv
package-lock.json
public/robots.txt
